<!DOCTYPE html>
<html>
<head>
    <link href="Content/bootstrap.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="Scripts/jquery-3.3.1.min.js"></script>
    <script src="Scripts/bootstrap.min.js"></script>
    <script src="Scripts/angular.min.js"></script>   
    <script src="App.js"></script>
    <meta charset="utf-8" />
    <link href="Content/app.css" rel="stylesheet" />
    <title>Boggle</title>
</head>
<body ng-app="BoggleApp" ng-controller="Search">
    <div class="container w-75">
        <div class="row justify-content-start" style="padding-top:30px;">
            <div class=" col-3">
                <img height="60"  src="Img/Boggle.png" /></div>
            <div class="col-9">
                <form ng-submit="Search(searchText)">
                    <div class="input-group">
                        <div class="col-8">
                            <input ng-model="searchText" class="form-control" type="search" placeholder="Search">
                        </div>
                        <div class="col-3">
                            <span class="input-group-btn">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </span>
                        </div>
                    </div>
                </form>


                </div>
            
        </div>
        <hr />
        <!--<div class="topPad15">
        <div class="row col-8 justify-content-start">
            <h4><a target="_blank" class="link-color" href="https://en.wikipedia.org/wiki/India">India - Wikipedia</a> </h4>
        </div>
        <div class="row col-8 justify-content-start line-heighp5">
            <cite><a target="_blank" class="sub-link-color" href="https://en.wikipedia.org/wiki/India">https://en.wikipedia.org/wiki/India</a> </cite>
        </div>
            <div class="row col-8 justify-content-start topPad10">
                <span class="search-desc">
                    India (IAST: Bhārat), also called the Republic of India (IAST: Bhārat Gaṇarājya), is a country in South Asia. It is the seventh-largest country by area, the second-most populous country (with over 1.2 billion people), and the most populous democracy in the world. It is bounded by the Indian Ocean on the south, the Arabian ...
                </span>
            </div>
    </div>-->
        <!--<div class="topPad15" collapseElem>
            <div class="row col-8 justify-content-start">
                <h4><a title="More Details" data-toggle="popover" data-trigger="hover" data-content="Similarity:" target="_blank"   class="link-color" href="https://en.wikipedia.org/wiki/India">India - Wikipedia</a> </h4>
            </div>
            <div class="row col-8 justify-content-start line-heighp5">
                <cite><a target="_blank" class="sub-link-color" href="https://en.wikipedia.org/wiki/India">https://en.wikipedia.org/wiki/India</a> </cite>
            </div>
            <div class="row row col-8 justify-content-start topPad10">
                <span class="search-desc">
                    India (IAST: Bhārat), also called the Republic of India (IAST: Bhārat Gaṇarājya), is a country in South Asia. It is the seventh-largest country by area, the second-most populous country (with over 1.2 billion people), and the most populous democracy in the world. It is bounded by the Indian Ocean on the south, the Arabian ...
                </span>
            </div>
        </div>-->
        <div>
            <div ng-repeat="result in SearchResults" class="topPad15">
                <div class="row col-8 justify-content-start">
                    <h4><a target="_blank" title="More Details" data-toggle="popover" data-trigger="hover" data-content="Similarity: {{result.SimValue}}  Hit:{{result.Hit}}"
                           class="link-color" href="{{result.URL}}">{{result.MetaData.Title }} 
                        <!--<span ng-hide="result.MetaData.Title == null">-</span> 
                        {{result.MetaData.SiteName}}-->
                        </a> </h4>
                </div>
                <div class="row col-8 justify-content-start line-heighp5">
                    <cite><a target="_blank" class="sub-link-color" href="{{result.URL}}">{{result.Key}}</a> </cite>
                </div>
                <div class="row row col-8 justify-content-start topPad10">
                    <span class="search-desc">
                        {{result.MetaData.Description}}
                    </span>
                </div>
            </div>
        </div>

        </div>
    <script>
        $(document).ready(function () {
            $('[data-toggle="popover"]').popover();
        });
    </script>
</body>

</html>